.card {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #edecec;
    padding: 0 20px;
}

.card:hover {
    border-color: #feb633;
}

.card h3 {
    color: #32333c;
    margin: 10px 0;
}

.card p {
    color: #8a8fa3;
    font-size: 12px;
}

.card p:last-child {
    margin-top: 20px;
}

@media (max-width: 738px) {
    .card {
        width: auto;
    }

    .card p {
        font-size: 14px;
    }
}