.card {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    padding: 0 20px;
}

.card-light {
    border-color: #edecec;
}

.card-dark {
    border-color: #ffffff0d;
}

.card:hover {
    border-color: #feb633;
}

.subtitulo-light {
    color: #32333c;
}

.subtitulo-dark {
    color: #ffffff;
}

.paragrafo-light{
    color: #8a8fa3;
}

.paragrafo-dark{
    color: #9F9F9F;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-size: 12px;
}

.card p:last-child {
    margin-top: 20px;
}

@media (max-width: 738px) {
    .card {
        width: auto;
    }

    .card p {
        font-size: 14px;
    }
}