.secaoExperienciaTrabalho {
    padding: 10px;
}

.bg-light {
    background-color: #f6f8fc;
}

.bg-dark {
    background-color: #393838;
}

.secaoExperienciaTrabalhoInfo {
    margin: 60px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secaoExperienciaTrabalhoInfo h2 {
    position: relative;  
    font-size: 50px;
    margin-bottom: 50px;
}

.secaoExperienciaTrabalhoInfo h2::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 4px;
    background: #feb633;
    bottom: -20px;
    left: 40%;
}

.secaoExperienciaTrabalhoInfo p {
    margin: 0 18%;
    text-align: center;
}

.subtitulo-color-light {
    color: #32333c;
}

.paragrafo-color-light {
    color: #8a8fa3;
}

.color-dark {
    color: #cccccc;
}

.grupoCards {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.secaoExperienciaTrabalhoInfo {
    margin: 60px 0;
}


@media (max-width: 738px) {
    .grupoCards{
        flex-direction: column;
    }

    .secaoExperienciaTrabalhoInfo p {
        margin: 0 10px;
        font-size: 14px;
    }
}