.rodape-light {
    background-color: #fff;
}

.rodape-dark {
    background-color: #252525;
}


footer img {
    height: auto;
    width: auto;
}

footer {
    padding-top: 80px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: #8a8fa3;
    margin: 20px 29%;
    text-align: center;
}

.iconesRedesSociais {
    display: flex;
    margin: 20px;
}

.iconesRedesSociais img {
    height: 45px;
    margin: 0 5px;
}

.nomeDev {
    color: #feb633;
}

footer p:last-child {
    padding-top: 20px;
}

.borda-dark{
    border-top: solid 1px #ffffff0d;
    min-width: 100%
}


@media (max-width: 738px) {
    footer {
        padding: 80px 0;
    }

    footer p {
        margin: 20px 10%;
    }
}